header .pre-header {
  font-size: 12px;
  height: 20px;
  width: 100%;
  background: black;
  background: radial-gradient(circle, black 56%, #626255 97%);
  color: grey;
  text-align: center;
  padding-top: 10px; }
  @media (max-width: 400px) {
    header .pre-header {
      font-size: 10px; } }
  header .pre-header ul {
    text-align: center;
    top: 0; }
    header .pre-header ul li {
      display: inline-block;
      padding-left: 30px; }
      @media (max-width: 650px) {
        header .pre-header ul li:first-child {
          display: none; } }

header nav {
  height: 50px;
  width: auto;
  background-color: black;
  padding: 15px; }
  @media (max-width: 670px) {
    header nav {
      height: auto; } }
  header nav .hamburger-menu {
    display: none;  }
    @media (max-width: 670px) {
      header nav .hamburger-menu {
        display: block; } }
    header nav .hamburger-menu img {
      float: left;
      padding-left: 30px;
      display: none; }
      @media (max-width: 670px) {
        header nav .hamburger-menu img {
          display: block; } }
  header nav img {
    float: right;
    padding-right: 30px; }
    @media (max-width: 670px) {
      header nav img {
        display: none; } }
  @media (max-width: 670px) {
    header nav ul {
      display: none; } }
  header nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    margin-top: 6px; }
    header nav ul li:first-child {
      font-size: 24px; }
      header nav ul li:first-child a:hover:after {
        display: none; }
    @media (max-width: 670px) {
      header nav ul li {
        display: block;
        text-align: center; } }
    header nav ul li a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      position: relative; }
      header nav ul li a:hover:after {
        display: block; }
      header nav ul li a:after {
        content: '';
        display: none;
        background-color: white;
        height: 2px;
        width: 100%;
        position: absolute; }

.footer {
  color: white;
  max-width: 2560px;
  height: 130px;
  background-color: #161b1b;
  padding: 80px 0; }
  .footer .inner-footer {
    height: auto;
    display: flex;
    margin: 0 auto;
    justify-content: center; }
    @media (max-width: 800px) {
      .footer .inner-footer {
        display: block; } }
    .footer .inner-footer .logo {
      margin-top: 30px;
      width: 30%; }
      @media (max-width: 800px) {
        .footer .inner-footer .logo {
          text-align: center;
          width: auto; } }
      .footer .inner-footer .logo h2 {
        font-size: 30px;
        color: yellow; }
        @media (max-width: 800px) {
          .footer .inner-footer .logo h2 {
            text-align: center; } }
    .footer .inner-footer .info {
      display: block;
      margin-top: 10px; }
      @media (max-width: 800px) {
        .footer .inner-footer .info {
          margin-top: 30px; } }
      .footer .inner-footer .info ul {
        list-style: none; }
        .footer .inner-footer .info ul li {
          font-size: 17px;
          text-decoration: none; }
          @media (max-width: 800px) {
            .footer .inner-footer .info ul li {
              font-size: 15px;
              text-align: center; } }
      .footer .inner-footer .info a {
        color: white;
        text-decoration: none; }
        .footer .inner-footer .info a:hover {
          color: yellow; }

* {
  padding: 0;
  margin: 0; }
  * body {
    font-family: 'Goldman', cursive;
    overflow-x: hidden;
    box-sizing: border-box; }

.after-header {
  height: 150px;
  width: 100%;
  background: #0b0303;
  background: linear-gradient(155deg, #0b0303 35%, #aca22a 82%, #e9d900 94%);
  text-align: center;
  padding-top: 100px;
  justify-content: center; }
  .after-header p {
    letter-spacing: 4px;
    color: white;
    font-size: 29px;
    font-weight: 400; }
    @media (max-width: 768px) {
      .after-header p {
        font-size: 20px; } }
    @media (max-width: 425px) {
      .after-header p {
        font-size: 15px; } }
    @media (max-width: 320px) {
      .after-header p {
        font-size: 14px; } }
    .after-header p span {
      font-weight: 700;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-animation: "light1";
      -webkit-animation-duration: 10s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes light1 {
  0% {
    -webkit-transform: translateX(1px);
    background-color: #a2fe73; }
  25% {
    -webkit-transform: translateX(1px);
    background-color: #b87221; }
  50% {
    -webkit-transform: translateX(1px);
    background-color: #35fdb2; }
  75% {
    -webkit-transform: translateX(1px);
    background-color: #d24cd6; }
  100% {
    -webkit-transform: translateX(1px);
    background-color: #a2fe73; } }

.videosection {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative; }
  .videosection .pre-video-txt {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    position: absolute;
    justify-content: center;
    text-align: center;
    box-sizing: border-box; }
    @media (max-width: 425px) {
      .videosection .pre-video-txt {
        font-size: 11px; } }
    @media (max-width: 375px) {
      .videosection .pre-video-txt {
        font-size: 9px; } }
    .videosection .pre-video-txt ul {
      list-style: none; }
      .videosection .pre-video-txt ul li {
        padding-top: 5px;
        text-transform: uppercase;
        color: wheat; }
  .videosection video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -100;
    right: 0;
    bottom: 0;
    background-size: cover;
    overflow: hidden; }

.textsection {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 768px) {
    .textsection {
      padding: 130px; } }
  @media (max-width: 425px) {
    .textsection {
      padding: 40px; } }
  .textsection p {
    max-width: 800px;
    text-align: center;
    margin: auto;
    font-size: 17px; }
    @media (max-width: 425px) {
      .textsection p {
        font-size: 13px; } }

.container {
  background-color: black;
  max-width: 1500px;
  height: auto;
  margin: auto;
  padding: 80px;
  justify-content: space-evenly; }
  @media (max-width: 1365px) {
    .container {
      display: flex; } }
  @media (max-width: 1050px) {
    .container {
      display: block;
      text-align: center; } }
  @media (max-width: 460px) {
    .container {
      padding: 20px; } }
  @media (max-width: 460px) {
    .container {
      padding: 0; } }
  .container .card {
    width: 200px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    padding: 40px 35px;
    cursor: pointer;
    margin: 5px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s; }
    @media (max-width: 330px) {
      .container .card {
        width: 150px; } }
    .container .card:hover {
      transform: translateY(-10px); }
  .container .card1 {
    background-image: url(../img/audi1.jpg); }
    .container .card1:hover {
      opacity: 0.6; }
  .container .card2 {
    background-image: url(../img/shifter.jpg); }
    .container .card2:hover {
      opacity: 0.6; }
  .container .card3 {
    background-image: url(../img/rucna2.jpg); }
    .container .card3:hover {
      opacity: 0.6; }
  .container .card4 {
    background-image: url(../img/interier.jpg); }
    .container .card4:hover {
      opacity: 0.6; }

.pre-footer {
  height: auto;
  padding-left: 10px;
  background: black;
  display: flex;
  padding-left: 100px; }
  @media (max-width: 2560px) {
    .pre-footer {
      padding-left: 0;
      justify-content: center; } }
  @media (max-width: 1350px) {
    .pre-footer {
      width: auto;
      height: auto;
      justify-content: space-evenly; } }
  .pre-footer img {
    width: auto;
    height: auto;
    display: flex; }
    @media (max-width: 1400px) {
      .pre-footer img {
        width: 500px;
        height: auto; } }
    @media (max-width: 1044px) {
      .pre-footer img {
        width: 400px;
        height: auto; } }
    @media (max-width: 800px) {
      .pre-footer img {
        width: 300px;
        height: auto; } }
    @media (max-width: 614px) {
      .pre-footer img {
        width: 220px;
        height: auto; } }
    @media (max-width: 460px) {
      .pre-footer img {
        width: 140px;
        height: auto; } }
    @media (max-width: 375px) {
      .pre-footer img {
        width: 100px;
        height: auto; } }
