.videosection{
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
 
  .pre-video-txt{
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    position: absolute;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;

    @media(max-width: 425px){

      font-size: 11px;

    }

    @media(max-width: 375px){

      font-size: 9px;

    }

    ul{
      list-style: none;

      li{
        padding-top: 5px;
        text-transform: uppercase;
        color: wheat;
      }
    }
  }

  video{

    
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -100;
    right: 0;
    bottom: 0;
    background-size: cover;
    overflow: hidden;
    
  }
 
   
}