.footer{
    color:white;
    max-width: 2560px;
    height: 130px;
    background-color:rgb(22, 27, 27);
    padding: 80px 0;

    
    .inner-footer{

        height: auto;
        display: flex;
        margin: 0 auto;
        justify-content: center;

        @media(max-width: 800px){

            display: block;
          
        }
       
        
        .logo{

            margin-top: 30px;
            width: 30%;
            @media(max-width: 800px){

              text-align: center;
               width: auto;

              }
           

            h2{
                font-size: 30px;
                color: yellow;
                
                @media(max-width: 800px){

                  text-align: center;
                  
                }
               
                
            }
        }

        .info{
    
           
            display: block;
            margin-top: 10px;

            @media(max-width: 800px){
                margin-top: 30px;
            }
           
            ul{
               list-style: none;
                li{

                    @media(max-width: 800px){

                        font-size: 15px;
                        
                        text-align: center;
                        
                    }
                    
                    font-size: 17px;
                    text-decoration: none;
                }
            }
            
            a{
                color: white;
                text-decoration: none;

                &:hover{

                    color: yellow;
                }
                
            }
        }
    
    }

}
